.datatable{
    height: 900px;
    padding: 20px;

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.Parking{
            background-color: rgba(0, 128, 0, 0.05);
            color: rgb(28, 128, 28);
        }
        &.Out{
            background-color: rgba(228, 17, 17, 0.05);
            color: crimson;
        }
    }
}
.cellAction{
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px solid darkblue;
        cursor: pointer;
    }

    .deleteButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: red;
        border: 1px solid red;
        cursor: pointer;
    }
}

.form-table-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.licenseplate-history-img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
