.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    // สีพื้นหลังด้านซ้าย Parking Admin System
    background-color: white;

    .top{
        height: 50px;
        cursor: pointer;
        .logo{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            // สีของ Logo รถตรง Parking admin system
            color: #6439ff;
            .img-icon{
                width: 135px;
                height: 100px;
            }
        }
        .logo-text{
            padding-bottom: 20px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            // สีของคำว่า Parking admin system
            color: #6439ff;
        }
    }
    
    hr{
        height: 0;
        border-bottom: 0.5px solid rgb(230, 227, 227);
    }

    .center{
        padding-left: 10px;
        margin-top: 100px;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            .title{
                // Font คำว่า Main ,promotion, User ตัวเล็กๆ ฝั่งซ้าย
                // ขนาด
                font-size: 10px;
                // ความหนา
                font-weight: bold;
                // สี
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: #ece8ff;
                }

                .icon{
                    font-size: 18px;
                    // สี Icon ด้านซ้ายมือเช่นพวก Dashboard, Stats , Management ....
                    color: #7451f8;
                }

                span{
                    font-size: 13px;
                    font-weight: 600;
                    // สีของคำด้านหลัง Icon เช่น Dashboard , stats , management....
                    color: #888;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .sidebar{
        .top{
            .logo-text{
                display: none;
                visibility: hidden;
            }
            height: 30px;
        }
      }
    }

@media screen and (max-width: 1000px) {
    .sidebar{
      display: none;  
    }
  }